<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" backupGlobals="false" backupStaticAttributes="false"
         bootstrap="vendor/autoload.php" colors="true" convertErrorsToExceptions="true"
         convertNoticesToExceptions="true" convertWarningsToExceptions="true" processIsolation="false"
         executionOrder="random" resolveDependencies="true" stopOnFailure="false"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">./src</directory>
        </include>
        <report>
            <clover outputFile="./clover.xml"/>
            <html outputDirectory="./storage/coverage/html"/>
            <text outputFile="php://stdout" showUncoveredFiles="false"/>
            <xml outputDirectory="./storage/coverage/coverage-xml"/>
        </report>
    </coverage>
    <testsuites>
        <testsuite name="Main">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
    </testsuites>
    <logging>
        <junit outputFile="./storage/coverage/junit.xml"/>
    </logging>
    <php>
        <server name="DB_CONNECTION" value="testing"/>
        <server name="APP_ENV" value="testing"/>
        <server name="APP_KEY" value="base64:VM+W1TpjK5cVtw1wHOPcu+e8mHiVYDuvgUJSLf+1QLA="/>
    </php>
</phpunit>
